#logo-title {
	display: flex;
	align-items: center;
	color: #006400;
	margin-left: 4px;
	filter: drop-shadow(0px 1px rgba(0,0,0,0.1));
	font-weight: bolder;
	font-size: 0.8em;
}

nav {
	background-color: #CCE0CC;
	box-shadow: 0px 1px rgba(0,0,0,0.1);
}

nav > .shortcuts {
	background-color: #fff;
	display: flex;
	border-radius: 12px;
	box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.1);
	margin: 4px;
}

nav > .shortcuts > * {
	color: #006400;
	font-weight: bolder;
	font-size: 0.8em;
	padding: 0 12px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

nav > .avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 4px;
	margin-right: 8px;
}

nav > .avatar > #account {
	background-color: blue;
	min-width: calc(36px);
	height: 36px;
	min-height: calc(36px);
	border-radius: 999px;
}
